
$fuente_principal: 'Open Sans', sans-serif;


// Tamaños
$telefono: 360px;
$tablet: 600px;
$desktop: 1024px;

// Colores
$negro: #000000;
$rojo: #f90505;
$amarillo: #E08709;
$verde: #71B100;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$dorado: #efb810;
$salmon:#FFBBA8;
$salmon2:#FA8072;
$salmonOscuro:#B2443A;
$azul:#68E5D9;
$azul2:#40E0D0;
$primario: #9C27B0;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900